.site-footer {
  display: none !important;
}

@media (max-width: 768px) {
  .responsive-columns {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  
  .responsive-columns img {
    margin: 0 auto;
  }
}
